@import "compass/css3";

body {
    background-color:white;
    --def: #ffffff; 	
	  --inv: #000000;
}

/*Start of Index Page*/
div.navWrapper{
  display:flex;
  justify-content: space-between;
  padding: 10px;
}

div.rightSide{
  display:flex; 
}

.navWrapper > .rightSide > div{
  margin-left: 20px;
  font-size: 1.3em;
}

.navWrapper a{
  color: #8a8a8a;
  text-decoration: none;
  transition: color 1s
}

.navWrapper a:hover{
  border-bottom: 1px solid black;
}

.navWrapper a:hover{
  color:black;
}

.name{
  font-size: 1.5em;
}

div.container{
  color: black;
  font-family: 'Source Sans Pro', sans-serif;;
}

/*Pics and Quotes*/
.picturesQuotes{
  display:flex;
  justify-content: space-between;
}

div.quotes{
  position: absolute;
  right: 100px;
  top: 200px;
}

div.sexyPic{
  position: absolute;
  right:100px;
  top:275px;
  
}

img {
  border: 5px solid #555;
}

.fadeIn {
  font-size: 3.0em;
  position: fixed;
  right: 100px;
  top: 200px;
  animation: fadeIn ease 7s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}

.sexyPic{
  font-size: 3.0em;
  position: absolute;
  right: 100px;
  top: 200px;
  animation: fadeIn ease 15s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}
/*End of Index Page*/

/*Education Page and subpages*/


.slide-container a{
  margin-bottom: 100px;
  cursor: pointer;
  color: #000000;
  font-family: 'Source Sans Pro', sans-serif;;
  text-decoration: none;
}

.slide-container a:hover{
  color: #ffffff;
}


.btn {		
	position: relative;	
	padding: 1.4rem 4.2rem;
	padding-right: 3.1rem;
	font-size: 1.4rem;
	color: var(--inv);
	letter-spacing: 1.1rem;
	text-transform: uppercase;
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
}

.btn:before, .btn:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
}

.btn:hover {
	color: var(--def);
	transition-delay: .5s;
}

.btn:hover:before {
	transition-delay: 0s;
}

.btn:hover:after {
	background: var(--inv);
	transition-delay: .35s;
}

/*TOP*/
.from-top:before, 
.from-top:after {
	left: 0;
	height: 0;
	width: 100%;
}

.from-top:before {
	bottom: 0;	
	border: 1px solid var(--inv);
	border-top: 0;
	border-bottom: 0;
}

.from-top:after {
	top: 0;
	height: 0;
}

.from-top:hover:before,
.from-top:hover:after {
	height: 100%;
}

 /* From Left */

.from-left:before, 
.from-left:after {
	top: 0;
	width: 0;
	height: 100%;
}

.from-left:before {
	right: 0;
	border: 1px solid var(--inv);
	border-left: 0;
	border-right: 0;	
}

.from-left:after {
	left: 0;
}

.from-left:hover:before,
.from-left:hover:after {
	width: 100%;
}

*, *:before, *:after {
	box-sizing: border-box;
}

/* From Right */

.from-right:before, 
.from-right:after {
	top: 0;
	width: 0;
	height: 100%;
}

.from-right:before {
	left: 0;
	border: 1px solid var(--inv);
	border-left: 0;
	border-right: 0;	
}

.from-right:after {
	right: 0;
}

.from-right:hover:before,
.from-right:hover:after {
	width: 100%;
}

/* From center */

.from-center:before {
	top: 0;
	left: 50%;
	height: 100%;
	width: 0;
	border: 1px solid var(--inv);
	border-left: 0;
	border-right: 0;
}

.from-center:after {
	bottom: 0;
	left: 0;
	height: 0;
	width: 100%;
	background: var(--inv);
}

.from-center:hover:before {
	left: 0;
	width: 100%;
}

.from-center:hover:after {
	top: 0;
	height: 100%;
}

/* From Bottom */

.from-bottom:before, 
.from-bottom:after {
	left: 0;
	height: 0;
	width: 100%;
}

.from-bottom:before {
	top: 0;	
	border: 1px solid var(--inv);
	border-top: 0;
	border-bottom: 0;
}

.from-bottom:after {
	bottom: 0;
	height: 0;
}

.from-bottom:hover:before,
.from-bottom:hover:after {
	height: 100%;
}


div {margin-bottom: 3rem;}
div:last-child {margin-bottom: 0;}

/*End of Education Page*/

/*Bath Page*/
.bath-slide a {
  color: #8a8a8a;
  font-family: 'Source Sans Pro', sans-serif;;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5em;
}

.bath-slide a:hover{
  color: #000000;
}


#timeline {
  display: flex;
  background-color: #031625;
}
#timeline:hover .tl-item {
  width: 23.3333%;
}
.tl-item {
  transform: translate3d(0, 0, 0);
  position: relative;
  width: 25%;
  height: 100vh;
  min-height: 600px;
  color: #fff;
  overflow: hidden;
  transition: width 0.5s ease;
}
.tl-item:before, .tl-item:after {
  transform: translate3d(0, 0, 0);
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.tl-item:after {
  background: rgba(3, 22, 37, 0.85);
  opacity: 1;
  transition: opacity 0.5s ease;
}
.tl-item:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000 75%);
  z-index: 1;
  opacity: 0;
  transform: translate3d(0, 0, 0) translateY(50%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.tl-item:hover {
  width: 30% !important;
}
.tl-item:hover:after {
  opacity: 0;
}
.tl-item:hover:before {
  opacity: 1;
  transform: translate3d(0, 0, 0) translateY(0);
  transition: opacity 1s ease, transform 1s ease 0.25s;
}
.tl-item:hover .tl-content {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.75s ease 0.5s;
}
.tl-item:hover .tl-bg {
  filter: grayscale(0);
}
.tl-content {
  transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 1.618em;
  top: 55%;
  opacity: 0;
}
.tl-content h1 {
  font-family: 'Pathway Gothic One', Helvetica Neue, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #1779cf;
  font-size: 1.44rem;
  font-weight: normal;
}
.tl-year {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.tl-year p {
  font-family: 'Pathway Gothic One', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.728rem;
  line-height: 0;
}
.tl-bg {
  transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  transition: filter 0.5s ease;
  filter: grayscale(100%);
}
/*END OF BATH PAGE*/

/*Start OF HKUST*/

.hongKong-slide a {
  color: #8a8a8a;
  font-family: 'Source Sans Pro', sans-serif;;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5em;
}

.hongKong-slide a:hover{
  color: #000000;
}

/*END OF HKUST*/

/*BEGINNING OF OIS*/
.ois-slide a {
  color: #8a8a8a;
  font-family: 'Source Sans Pro', sans-serif;;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5em;
}

.ois-slide a:hover{
  color: #000000;
}

.artboard {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  height: 100%;
  position: relative;
  /* Reset */
}
@media (max-width: 37.5em) {
  .artboard {
    padding: 1rem;
  }
}
.card {
  flex: initial;
  position: relative;
  height: 52rem;
  width: 48rem;
  -moz-perspective: 200rem;
  perspective: 200rem;
  margin: 2rem;
}
.card__side {
  height: 52rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* We don't want to see the back part of the element. */
  -webkit-backface-visibility: hidden;
  /* We don't want to see the back part of the element. */
  backface-visibility: hidden;
  border-radius: 3px;
  /* The image is overflowing the parent. */
  overflow: hidden;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-image: linear-gradient(to right bottom, rgba(30, 11, 54, 0.65), rgba(68, 107, 235, 0.65)), url(https://source.unsplash.com/featured/?Travel,nature);
}
.card__side--back {
  background-color: #fff;
  transform: rotateY(180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card__theme {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 54%;
  width: 90%;
  text-align: center;
}
.card__theme-box {
  color: #fff;
  margin-bottom: 8rem;
}
.card__subject {
  font-family: "Inconsolata", monospace;
  letter-spacing: 0.8rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.card__title {
  font-family: "VT323", monospace;
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 100;
}
.card__cover {
  position: relative;
  background-size: cover;
  height: 14rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-image: linear-gradient(to top right, rgba(30, 11, 54, 0.65), rgba(68, 107, 235, 0.65)), url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
}
.card__heading {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}
.card__heading-span {
  font-family: "VT323", monospace;
  font-size: 4.2rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  color: #fff;
}
.card__details {
  font-family: "Inconsolata", monospace;
  padding: 4rem 2rem;
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card__details ul li {
  text-align: center;
  font-size: 1.6rem;
  padding: 0.4rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

@media only screen and (max-width: 37.5em), only screen and (hover: none) {
  .card {
    height: auto;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
  }
  .card__side {
    height: auto;
    position: relative;
    box-shadow: none;
  }
  .card__side--front {
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  }
  .card__side--back {
    transform: rotateY(0);
  }
  .card:hover .card__side--front {
    transform: rotateY(0);
  }
  .card__details {
    padding: 3rem 2rem;
  }
  .card__theme {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0);
    width: 100%;
    padding: 5rem 4rem 1.5rem 4rem;
    text-align: right;
  }
  .card__theme-box {
    margin-bottom: 1.5rem;
  }
  .card__title {
    font-size: 4rem;
  }
}

/*Hobbies and Interests*/
.hobbyContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin-bottom: 100px;
}
.container__image {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url('https://silviadiaconescu.com/work/landscape/pb-2.jpg');
  background-size: cover;
  transition: ease-in-out 0.3s;
  z-index: 2;
}
.container__image:before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: inherit;
  background-position: bottom;
  filter: blur(40px) saturate(0%);
  transform: scaleX(0.4);
  transition: ease-in-out 0.4s;
  border-radius: 120px;
  transform-origin: right;
  opacity: 0;
  z-index: -1;
}
.container__image .container__info {
  position: relative;
  left: -180px;
  line-height: 1.8;
  transition: ease-in-out 0.3s;
  opacity: 0;
}
.container__image .container__location {
  transition-delay: 0.15s;
}
.container__image:hover {
  border-radius: 0;
  width: 450px;
  height: 310px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(9, 55, 53, 0.08), 0px 16px 24px rgba(9, 55, 53, 0.1), 0px 24px 32px rgba(9, 55, 53, 0.14);
}
.container__image:hover:before {
  width: 100%;
  opacity: 0.18;
  filter: blur(10px) saturate(100%);
  transform: scale(2.8) translate3d(-18%, 0px, 0px);
}
.container__image:hover .container__info {
  transform: translate3d(-60%, 0px, 0px);
  opacity: 1;
}
.link {
  border-bottom: 1px solid transparent;
  color: #c70ace;
  text-decoration: none;
  transition: ease-in 0.13s;
}
.link:hover {
  background-color: #0612c0;
  color: #fff;
}/*End of Hobbies and Interest*/

/*CREATIVE ENDEAVOURS*/

/*POETRY*/
.back a {
  color: #8a8a8a;
  font-family: 'Source Sans Pro', sans-serif;;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5em;
}

.back a:hover{
  color: #000000;
}

/*PERSONAL POETRY*/
#wrapper{
	display: block;
	margin-bottom: 100px;
}

.space{
	width: auto;
	height: 50px;
}

#madeby{
	color: #666;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
}

#madeby:after{
	content: '';
	position: absolute;
	width: 0;
	height: 100%;
	top: 0;
	right: 0;
	padding-bottom: 5px;
	border-bottom: 1.5px solid #777;
	transition: color 0.3s ease;
	transition: 0.3s width ease;
}
#madeby:hover:after{
	left: 0;
	width: 100%;
	transition: 0.3s width ease;
}
#madeby:hover{
	color: #777;
	transition: color 0.3s ease;
}

.button{
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 20px;
	position: relative;
	padding: 10px;
}

a.button.one:before, a.button.one:after{
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	transition: all 0.3s ease;
}
a.button.one:before{
	top: -2.5%;
	left: -1%;
	border-top: 2px solid black;
	border-left: 2px solid black;	
}
a.button.one:after{
	bottom: -2.5%;
	right: -1%;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
}
a.button.one:hover:before, a.button.one:hover:after{
	width: 100%;
	height: 100%;
	transition: all 0.3s ease;
}


a.button.three:before, a.button.three:after{
	content: '';
	position: absolute;	
	width: 0;
	height: 0;
	opacity: 0;
}

a.button.three:before{
	top: 0;
	left: 0;
	border-top: 2px solid black;
	border-right: 2px solid black;
}
a.button.three:after{
	bottom: 0;
	right: 0;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
}
a.button.three:hover:before{
	animation: first 0.3s forwards;
	opacity: 1;
}
a.button.three:hover:after{
	animation: second 0.3s forwards;
}
@keyframes first{
	0%{
		width: 0%;
		height: 0%;
	}
	25%{
		width: 100%;
		height: 0%;
	}
	50%{
		width: 100%;
		height: 100%;
	}
	100%{
		width: 100%;
		height: 95%;
	}
}

@keyframes second{
	0%{
		width: 0%;
		height: 0%;
	}
	50%{
		width: 0%;
		height: 0%;
	}	
	75%{
		width: 100%;
		height: 0%;
		opacity: 1;
	}
	100%{
		width: 100%;
		height: 95%;
		opacity: 1;
	}
}


a.button.four:before, a.button.four:after{
	content: '';
	position: absolute;	
	width: 0%;
	height: 100%;
	border-bottom: 2px solid black;
	transition: width 0.3s ease;
}

a.button.four:before{
	bottom: 0;
	right: 50%;
}
a.button.four:after{
	bottom: 0;
	left: 50%;
}
a.button.four:hover:after, a.button.four:hover:before{
	width: 40%;
	transition: width .2s ease;
}

.line1{
  display: flex;
  justify-content: space-evenly;
}

.line2{
  display: flex;
  justify-content: space-evenly;
}

.line3{
  display: flex;
  justify-content: space-evenly;
}

/*EEE*/
.poem{
  display: flex;
  justify-content: space-evenly;
}


